p {
  color:#5e5f5f;
  display:block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}
.container{
    width: 900px;
    margin: auto;
}
a{
  text-decoration: none;

}

.banner{
  background-image: url('../../images/background.png');
  background-size: cover;
  background-position: center;
  padding: 200px 0;


}

.banner h1{
  color:white;
  font-size:2 em;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;

}

.container {
    width: 900px;
    margin: auto;
}

.btn-banner{
    display: inline-block;
    background-color: #1EDD88;
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
}

.btn-banner:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;

}








